- post.pages.each do |page|
  .mb-2
    -# - if page.user == current_user
    -#   = link_to "", post_page_path(post.id, page), method: :delete, remote: true, class: "delete-comment"
    -# %span
    -#   %strong
    -#     = link_to page.user.name, user_path(page.user), class: "no-text-decoration black-color"
    = link_to "/posts/#{post.id}/pages/#{page.id}" do
      %span= page.title
    %span= page.body
    %span= page.created_at
