<% post.pages.each do |page| %>
  <div class="mb-2">
    <% if page.user == current_user %>
      <%= link_to "", post_page_path(post.id, page), method: :delete, remote: true, class: "delete-comment" %>
    <% end %>
    <span>
      <strong>
        <%= link_to page.user.name, user_path(page.user), class: "no-text-decoration black-color" %>
      </strong>
    </span>
    <%# <span><%= comment.comment</span> %>
    <%# <%= link_to post_pages_path(post.id, page), class: "no-text-decoration" do %>
    <%= link_to "/posts/#{post.id}/pages/#{page.id}" do %>
      <span><%= page.body %></span>
    <% end %>
  </div>
<% end %>